//globals
.l-content--detail {
	margin-top: 60px;
}
.l-content--img {
	margin-bottom: 100px;	
  height: 400px;
  img {
    height: 100%;
  }
}
.l-content--wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 100px;
}
.l-content--left {
  width: 100%;
  margin-right: 132px;
}
.l-content--right {
  //right component
}
.l-content_left--item {
  // margin-bottom: 84px;
}

//blocks 
//--text
.item--text {
	.l-content_left--title {
    margin-bottom: 25px;
	}
	.l-content_left--desc {

	}
	.l-content_left--img {
    margin-top: 26px;
    margin-bottom: 40px;
	}
	.l-content_left--list {
    margin-top: 32px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    li {
      position: relative;
      padding-left: 126px;
      margin-bottom: 23px;
      color: $gray;
      &::before {
        content: '';
        width: 90px;
        height: 4px;
        position: absolute;
        left: 0;
        top: 50%;
        background-color: $orange;
      }
    }
	}
}
//--accordion
.item--accordion {
	.l-content_left--title {
    margin-bottom: 30px;
	}
	.l-content_left--desc {

	}
	.l-content--accordion {
    background: #F7F7F7;
    margin-bottom: 10px;
    a.accordion-title {
      padding: 34px 40px;
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      color: #000000;
      border: none;
      &::before {
        content: "";
        right: 40px;
        margin-top: 0;
        width: 24px;
        height: 3px;
        background-color: $orange;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 40px;
        margin-top: 0;
        width: 24px;
        height: 3px;
        background-color: $orange;
        transform: rotate(90deg);
        transition: .3s;
      }
    }
    &.is-active a.accordion-title::after {
      transform: rotate(0);
    }
    .accordion-content {
      padding: 30px 40px;
      border: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
	}
	a.accordion-title {
		&::before {

		}
		&::after {

		}
	}
	.accordion-content {

	}
}
//--cards
.item--cards {
  display: flex;
  flex-direction: column;
  gap: 100px;
	.l-content_left--card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	}
	.l-item_cards--img {
		width: 100%;
    margin-right: 20px;
	}
	.l-item_cards--desc {
    width: 100%;
    display: flex;
    flex-direction: column;
	}
	ul.cards_desc--list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
		li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 15px;
      &::before {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        top: 50%;
        background-color: $orange;
      }
    }
	}
  .cards_desc--fio {
    margin-bottom: 5px;
  }
  .cards_desc--spec {
    color: $gray;
  }
  .cards_desc--text {
    margin-top: 30px;
  }
}
//--partners
.item--partners {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
	.l-content_partners--img {
    width: 100%;
    img {
      width: 100%;
    }
	}
	.l-content_partners--desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
	}
  .l-content_partnres--wrapper {
    width: 100%;
  }
  .l-content_partners--cards {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .l-content_partners-card {
    img {
      width: 100%;
    }
  }
}
//--numbers
.item--numbers {
  .l-content_numbers--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 86px;
  }
  .l-content_numbers--item {
    display: grid;
    max-width: 290px;
    .l-content_numbers--row:last-child {
      padding-left: 5px;
    }
  }
}
//--table
.item--table {
  margin-top: 90px;
  ul {
    display: flex;
    flex-direction: column;
  }
  li {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      width: 50%;
    }
  }
}
//--vacancies
.item--vacancies {
	width: 100%;
  padding: 30px 32px;
  background: #F7F7F7;
  .l-content_left--title {
    display: flex;
    flex-direction: column;
    span:last-child {
      color: $gray;
    }
  }
  .l-content_vacancies--wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .l-content_left--item {
      margin-bottom: 0;
    }
  }
  .l-content_vacancies--body {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
  }
  .l-content_vacancies--footer {
    margin-top: 60px;
  }
  .l-vacancies--title {

  }
  .l-vacancies--desc {
    margin-top: 14px;
  }
  .l-vacancies--list {
    max-height: 80px;
    height: 100%;
    margin-top: 15px;
    overflow: hidden;
    li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 15px;
      &::before {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        top: 50%;
        background-color: $orange;
      }
    }
    &.active {
      max-height: 100%;
      height: 100%;
    }
  }
  .l-vacancies--more {
    margin-top: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    a {
      color: $black;
    }
    i {
      width: 16px;
      height: 16px;
      margin-left: 8px;
      transition: .3s;
    }
    &.active i {
      transform: rotate(180deg);
    }
  }
}
//--static
.item--static {
  .l-content_left--title {
    margin-bottom: 25px;
  }
}
//--img {
.item--img {
  width: 100%;
  max-height: 411px;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
//--button
.item--button {
  max-width: 163px;
  width: 100%;
  .orange-border-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    i {
      width: 16px;
      height: 8px;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 4px;
      margin-left: 8px;
      transform: rotate(180deg);
    }
  }
}

//--others
.l-content_left--socials {
  display: flex;
  align-items: center;
  margin-top: 50px;
  svg.svg {
    width: 48px;
    height: 48px;
  }
  a {
    margin-left:  20px;
    color: $black;
    text-decoration: underline;
  }
}


@media screen and (max-width: 1300px) {
  //globals 
  .l-content--left {
    margin-right: 55px;
  }
}

@media screen and (max-width: 967px) {
  //globals 
  .l-content--wrapper {
    flex-direction: column;
  }
  .l-content--left {
    margin-right: 0;
  }
  .l-content--right {
    max-width: unset;
  }
}

@media screen and (max-width: 768px) {
  //--text
  .item--text {
    .l-content_left--title {
      margin-bottom: 14px;
    }
  }
  //--numbers
  .item--numbers {
    margin-bottom: 100px;
    .l-content--img {
      margin-bottom: 55px;
    }
    .l-content_numbers--wrapper {
      gap: 112px;
      margin-bottom: 50px;
    }
    .l-content_numbers--row {
      .fs40 {
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
  //--accordion
  .item--accordion{
    a.accordion-title {
      padding: 34px;
      &::after {
        right: 25px;
      }
      &::before {
        right: 25px;
      }
    }
  }
  //--table
  .item--table {
    margin-top: 50px;
  }
  //--cards
  .item--cards {
    .l-item_cards--img {
      height: 595px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .cards_desc--text {
      margin-top: 20px;
    }
  }
  //--partners
  .item--partners {
    gap: 20px;
    .l-content_partners--cards {
      margin-top: 16px;
    }
  }
}

@media screen and (max-width: 620px) {
  //globals
  .l-content--detail {
    margin-top: 40px;
  }
  //--text
  .item--text {
    .l-content_left--title {
      margin-bottom: 10px;
    }
    .l-content_left--list {
      li {
        padding-left: 40px;
        &::before {
          content: '';
          width: 30px;
          height: 4px;
        }
      }
    }
  }
  //--accordion
  .item--accordion {
    a.accordion-title {
      padding: 24px 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      &::after {
        right: 10px;
      }
      &::before {
        right: 10px;
      }
    }
    .accordion-content {
      padding: 20px 10px;
    }
  }
  //--numbers
  .item--numbers {
    .l-content--img {
      height: 200px;
      margin-bottom: 20px;
    }
    .l-content_numbers--wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 40px;
      margin-bottom: 40px;
    }
  }
  //--cards
  .item--cards {
    gap: 60px;
    .l-content_left--card {
      flex-direction: column;
    }
    .l-item_cards--img {
      margin-right: 0;
      height: 450px;
    }
    .l-item_cards--desc {
      margin-top: 28px;
    }
  }
  //--static
  .item--static {
    .l-content_left--list {
      li {
        padding-left: 40px;
        &::before {
          content: '';
          width: 30px;
          height: 4px;
        }
      }
    }
  }
  //--partners
  .item--partners {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 425px) {
  //--text
  .item--text {

  }
  //--table
  .item--table {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 30px;
    }
    li {
      margin-bottom: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  
}