section.banner {
  .l-banner-navigation {
    width: auto;
    height: 50px;
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-button-next, .swiper-button-prev {
    top: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    margin: 0;
  }
  
  .swiper-button-next::after {
    content: '';
  
  }
  
  .swiper-button-prev::after {
    content: '';
  }
  
  .swiper-pagination {
    position: static;
    width: auto!important;
    margin: 0 36px;
  }
  
  .swiper-pagination-bullet {
    margin: 0 8px!important;
    width: 14px;
    height: 14px;
    background: none;
    border: 1px solid #FFFFFF;
    opacity: 1;
  }
  
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FF9704;
    border: none;
  }
}

section.licenses {
  .l-banner-navigation {
    width: auto;
    height: 50px;
    position: static;
    bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-button-next, .swiper-button-prev {
    top: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    margin: 0;
  }
  
  .swiper-button-next::after {
    content: '';
  
  }
  
  .swiper-button-prev::after {
    content: '';
  }
  
  .swiper-pagination {
    position: static;
    width: auto!important;
    margin: 0 36px;
  }
  
  .swiper-pagination-bullet {
    margin: 0 8px!important;
    width: 14px;
    height: 14px;
    background: none;
    border: 1px solid #000000;
    opacity: 1;
  }
  
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FF9704;
    border: none;
  }
}

section {
  .l-banner-navigation {
    width: auto;
    height: 50px;
    position: static;
    bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-button-next, .swiper-button-prev {
    top: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    margin: 0;
  }
  
  .swiper-button-next::after {
    content: '';
  
  }
  
  .swiper-button-prev::after {
    content: '';
  }
  
  .swiper-pagination {
    position: static;
    width: auto!important;
    margin: 0 36px;
  }
  
  .swiper-pagination-bullet {
    margin: 0 8px!important;
    width: 14px;
    height: 14px;
    background: none;
    border: 1px solid #000000;
    opacity: 1;
  }
  
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FF9704;
    border: none;
  }
}