.l-content {
  margin-top: 97px;
}

.l-content--title {
  margin-bottom: 23px;
}

.l-content--breadcrumbs {
  ul {
    display: flex;
    align-items: center;
  }
  li {
    margin-right: 5px;
  }
  li:last-child {
    a {
      color: $orange;
    }
  }
  a {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $black;
  }
}

@media screen and (max-width: 1300px) {
  
}

@media screen and (max-width: 967px) {

}

@media screen and (max-width: 768px) {
  .l-content--title {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 620px) {
  .l-content--title {
    margin-bottom: 40px;
  }
  .l-content--breadcrumbs {
    li {
      a {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .l-content--breadcrumbs {
    ul {
      display: grid;
    }
    li {
      grid-column: auto;
      grid-row: 1/1;
    }
    li:last-child {
      grid-column: 1/8;
      grid-row: 2/2;
    }
  }
}