@import "_colors.scss";

header.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 175px;
  z-index: 100;
  transition: background 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  .l-header_top--links {
    a {
      color: #000000;
    }
    i.point {
      background: url("data:image/svg+xml,%3Csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.60001 8.25125L1.60001 8.251C1.60232 6.28885 2.38281 4.40772 3.77027 3.02026C5.15749 1.63304 7.03821 0.85258 9.00001 0.850001C10.9618 0.85258 12.8425 1.63304 14.2297 3.02026C15.6172 4.40772 16.3977 6.28885 16.4 8.251V8.25122C16.4023 9.8518 15.8795 11.4089 14.9117 12.6838L14.8267 12.7958L14.8266 12.7962L14.7969 12.8349C14.7669 12.874 14.7365 12.9135 14.7118 12.9454C14.6968 12.9647 14.6868 12.9774 14.6811 12.9848C14.6779 12.9889 14.676 12.9913 14.6752 12.9923L9 19.6857L3.32208 12.9893L3.32209 12.9893L3.31833 12.9849C3.3202 12.9871 3.32122 12.9883 3.32125 12.9882C3.32134 12.9882 3.31197 12.9766 3.28846 12.9463C3.26397 12.9148 3.23378 12.8756 3.20381 12.8365C3.15769 12.7763 3.11578 12.7212 3.0993 12.6996C3.09395 12.6925 3.09127 12.689 3.09201 12.69L2.41201 13.2L3.08903 12.686C2.12075 11.4106 1.59766 9.85263 1.60001 8.25125ZM12.85 8.25106V8.25C12.85 7.48854 12.6242 6.74418 12.2012 6.11105C11.7781 5.47793 11.1768 4.98446 10.4733 4.69306C9.76984 4.40167 8.99574 4.32542 8.24891 4.47398C7.50208 4.62253 6.81608 4.98921 6.27765 5.52764C5.73921 6.06607 5.37254 6.75208 5.22399 7.4989C5.07543 8.24573 5.15168 9.01984 5.44307 9.72333C5.73447 10.4268 6.22793 11.0281 6.86106 11.4512C7.49419 11.8742 8.23855 12.1 9.00001 12.1V11.25L9.00107 12.1C10.0215 12.0987 10.9997 11.6928 11.7213 10.9713C12.4428 10.2497 12.8487 9.27147 12.85 8.25106Z' stroke='%235A5A5A' stroke-width='1.7'/%3E%3C/svg%3E%0A")
        no-repeat center/contain;
    }
    i.email {
      background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22.1064C10.6333 22.1064 9.34167 21.8438 8.125 21.3184C6.90833 20.7938 5.846 20.0771 4.938 19.1684C4.02933 18.2604 3.31267 17.1981 2.788 15.9814C2.26267 14.7648 2 13.4731 2 12.1064C2 10.7231 2.26267 9.42745 2.788 8.21945C3.31267 7.01078 4.02933 5.95245 4.938 5.04445C5.846 4.13578 6.90833 3.41878 8.125 2.89345C9.34167 2.36878 10.6333 2.10645 12 2.10645C13.3833 2.10645 14.679 2.36878 15.887 2.89345C17.0957 3.41878 18.154 4.13578 19.062 5.04445C19.9707 5.95245 20.6873 7.01078 21.212 8.21945C21.7373 9.42745 22 10.7231 22 12.1064V13.5564C22 14.5398 21.6627 15.3771 20.988 16.0684C20.3127 16.7604 19.4833 17.1064 18.5 17.1064C17.9 17.1064 17.3417 16.9731 16.825 16.7064C16.3083 16.4398 15.8833 16.0898 15.55 15.6564C15.1 16.1064 14.571 16.4608 13.963 16.7194C13.3543 16.9774 12.7 17.1064 12 17.1064C10.6167 17.1064 9.43767 16.6188 8.463 15.6434C7.48767 14.6688 7 13.4898 7 12.1064C7 10.7231 7.48767 9.54378 8.463 8.56845C9.43767 7.59378 10.6167 7.10645 12 7.10645C13.3833 7.10645 14.5627 7.59378 15.538 8.56845C16.5127 9.54378 17 10.7231 17 12.1064V13.5564C17 14.0398 17.15 14.4188 17.45 14.6934C17.75 14.9688 18.1 15.1064 18.5 15.1064C18.9 15.1064 19.25 14.9688 19.55 14.6934C19.85 14.4188 20 14.0398 20 13.5564V12.1064C20 9.92311 19.2123 8.04378 17.637 6.46845C16.0623 4.89378 14.1833 4.10645 12 4.10645C9.81667 4.10645 7.93733 4.89378 6.362 6.46845C4.78733 8.04378 4 9.92311 4 12.1064C4 14.2898 4.78733 16.1688 6.362 17.7434C7.93733 19.3188 9.81667 20.1064 12 20.1064H17V22.1064H12ZM12 15.1064C12.8333 15.1064 13.5417 14.8148 14.125 14.2314C14.7083 13.6481 15 12.9398 15 12.1064C15 11.2731 14.7083 10.5648 14.125 9.98145C13.5417 9.39811 12.8333 9.10645 12 9.10645C11.1667 9.10645 10.4583 9.39811 9.875 9.98145C9.29167 10.5648 9 11.2731 9 12.1064C9 12.9398 9.29167 13.6481 9.875 14.2314C10.4583 14.8148 11.1667 15.1064 12 15.1064Z' fill='%235A5A5A'/%3E%3C/svg%3E%0A")
        no-repeat center/cover;
    }
    i.phone {
      background: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4166 14.0012L16.4169 13.9764C16.4167 13.9847 16.4166 13.9929 16.4166 14.0012H17.4166ZM17.4166 16.3762H16.4166L16.4166 16.3803L17.4166 16.3762ZM15.6908 17.9595L15.5828 18.9537C15.5888 18.9543 15.5948 18.9549 15.6008 18.9555L15.6908 17.9595ZM8.85872 15.5291L9.40284 14.6901L9.39504 14.6851L8.85872 15.5291ZM4.10872 10.7791L4.95276 10.2428L4.948 10.2354L4.10872 10.7791ZM1.6783 3.91536L0.682359 4.00536C0.682829 4.01057 0.68334 4.01577 0.683892 4.02096L1.6783 3.91536ZM3.25372 2.18953V1.18953L3.25278 1.18953L3.25372 2.18953ZM5.62872 2.18953V3.18958L5.63856 3.18948L5.62872 2.18953ZM7.21205 3.5512L8.20351 3.42043L8.20221 3.41124L7.21205 3.5512ZM7.76622 5.77578L6.82932 6.12539L6.83017 6.12764L7.76622 5.77578ZM7.40997 7.4462L8.11709 8.15331L8.12102 8.14934L7.40997 7.4462ZM6.40455 8.45161L5.69744 7.74451C5.37913 8.06282 5.31274 8.55458 5.53526 8.94591L6.40455 8.45161ZM11.1546 13.2016L10.6603 14.0709C11.0516 14.2934 11.5433 14.227 11.8617 13.9087L11.1546 13.2016ZM12.16 12.1962L11.4568 11.4851L11.4529 11.4891L12.16 12.1962ZM13.8304 11.8399L13.4785 12.776L13.4808 12.7768L13.8304 11.8399ZM16.055 12.3941L16.1947 11.4039L16.1857 11.4027L16.055 12.3941ZM16.4166 14.0012V16.3762H18.4166V14.0012H16.4166ZM16.4166 16.3803C16.417 16.4615 16.4003 16.5419 16.3678 16.6163L18.2003 17.4175C18.3444 17.0879 18.4181 16.7319 18.4166 16.3721L16.4166 16.3803ZM16.3678 16.6163C16.3352 16.6907 16.2875 16.7576 16.2277 16.8125L17.5797 18.2862C17.8448 18.043 18.0562 17.7472 18.2003 17.4175L16.3678 16.6163ZM16.2277 16.8125C16.1678 16.8674 16.0971 16.9092 16.0202 16.9352L16.6609 18.8298C17.0017 18.7146 17.3146 18.5294 17.5797 18.2862L16.2277 16.8125ZM16.0202 16.9352C15.9432 16.9612 15.8617 16.9709 15.7808 16.9636L15.6008 18.9555C15.9591 18.9879 16.3202 18.945 16.6609 18.8298L16.0202 16.9352ZM15.7988 16.9654C13.5182 16.7176 11.3275 15.9383 9.40282 14.6901L8.31462 16.3681C10.5018 17.7865 12.9912 18.6721 15.5828 18.9537L15.7988 16.9654ZM9.39504 14.6851C7.60614 13.5484 6.08947 12.0317 4.95273 10.2428L3.2647 11.3154C4.55891 13.3521 6.28569 15.0789 8.3224 16.3731L9.39504 14.6851ZM4.948 10.2354C3.69546 8.30194 2.91598 6.10061 2.67271 3.80976L0.683892 4.02096C0.960337 6.62419 1.84611 9.12569 3.26944 11.3228L4.948 10.2354ZM2.67424 3.82536C2.66695 3.74471 2.67654 3.66342 2.70239 3.58667L0.807005 2.9483C0.692531 3.28818 0.650081 3.64817 0.682359 4.00536L2.67424 3.82536ZM2.70239 3.58667C2.72824 3.50992 2.76978 3.4394 2.82438 3.37959L1.34726 2.03121C1.10547 2.29609 0.92148 2.60841 0.807005 2.9483L2.70239 3.58667ZM2.82438 3.37959C2.87898 3.31977 2.94544 3.27199 3.01951 3.23926L2.21142 1.40979C1.88336 1.5547 1.58906 1.76633 1.34726 2.03121L2.82438 3.37959ZM3.01951 3.23926C3.09359 3.20654 3.17368 3.18961 3.25466 3.18953L3.25278 1.18953C2.89413 1.18987 2.53949 1.26488 2.21142 1.40979L3.01951 3.23926ZM3.25372 3.18953H5.62872V1.18953H3.25372V3.18953ZM5.63856 3.18948C5.78011 3.18809 5.91733 3.23821 6.02466 3.33051L7.32873 1.81414C6.85344 1.40539 6.24573 1.18341 5.61888 1.18958L5.63856 3.18948ZM6.02466 3.33051C6.13198 3.42281 6.20208 3.55099 6.22189 3.69115L8.20221 3.41124C8.11448 2.79053 7.80403 2.22289 7.32873 1.81414L6.02466 3.33051ZM6.22064 3.68195C6.33074 4.51678 6.53493 5.33647 6.82932 6.12538L8.70312 5.42618C8.46146 4.77858 8.29385 4.10572 8.20346 3.42044L6.22064 3.68195ZM6.83017 6.12764C6.86941 6.23204 6.8779 6.34549 6.85464 6.45456L8.81065 6.87172C8.91367 6.38868 8.87606 5.88624 8.70227 5.42392L6.83017 6.12764ZM6.85464 6.45456C6.83138 6.56364 6.77733 6.66376 6.69892 6.74306L8.12102 8.14934C8.4683 7.79815 8.70763 7.35476 8.81065 6.87172L6.85464 6.45456ZM6.70286 6.73909L5.69744 7.74451L7.11166 9.15872L8.11707 8.1533L6.70286 6.73909ZM5.53526 8.94591C6.75121 11.0844 8.52181 12.855 10.6603 14.0709L11.6488 12.3323C9.82334 11.2943 8.31185 9.78282 7.27385 7.95732L5.53526 8.94591ZM11.8617 13.9087L12.8671 12.9033L11.4529 11.4891L10.4474 12.4945L11.8617 13.9087ZM12.8631 12.9072C12.9424 12.8288 13.0425 12.7748 13.1516 12.7515L12.7344 10.7955C12.2514 10.8985 11.808 11.1379 11.4568 11.4851L12.8631 12.9072ZM13.1516 12.7515C13.2607 12.7283 13.3741 12.7368 13.4785 12.776L14.1822 10.9039C13.7199 10.7301 13.2175 10.6925 12.7344 10.7955L13.1516 12.7515ZM13.4808 12.7768C14.2697 13.0712 15.0894 13.2754 15.9242 13.3855L16.1857 11.4027C15.5004 11.3123 14.8276 11.1447 14.18 10.903L13.4808 12.7768ZM15.9153 13.3843C16.057 13.4043 16.1864 13.4757 16.2788 13.5848L17.8048 12.2919C17.3951 11.8085 16.8221 11.4924 16.1947 11.4039L15.9153 13.3843ZM16.2788 13.5848C16.3713 13.694 16.4205 13.8334 16.4169 13.9764L18.4163 14.026C18.432 13.3925 18.2144 12.7754 17.8048 12.2919L16.2788 13.5848Z' fill='%235A5A5A'/%3E%3C/svg%3E%0A")
        no-repeat center/cover;
    }
  }
  i.search {
    background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L16.2779 16.2695M18.8947 9.94737C18.8947 12.3204 17.9521 14.5962 16.2741 16.2741C14.5962 17.9521 12.3204 18.8947 9.94737 18.8947C7.57438 18.8947 5.29858 17.9521 3.62062 16.2741C1.94267 14.5962 1 12.3204 1 9.94737C1 7.57438 1.94267 5.29858 3.62062 3.62062C5.29858 1.94267 7.57438 1 9.94737 1C12.3204 1 14.5962 1.94267 16.2741 3.62062C17.9521 5.29858 18.8947 7.57438 18.8947 9.94737V9.94737Z' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
      no-repeat center/cover;
  }
  &.active-header {
    background: white;
    .l-header_nav {
      a {
        color: #000000;
      }
    }
  }
}

.l-header_top {
  padding-top: 20px;
}

.l-header_top--links {
  display: flex;
  justify-content: right;
  ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    gap: 5px;
  }
  .svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}

.l-header_wrapper {
  height: auto;
  margin-top: 8px;
}

.l-header_logo {
  max-width: 244px;
  width: 100%;
  img {
    width: 244px;
    height: 86px;
    object-fit: cover;
  }
}

.l-header_nav {
  li {
    margin-right: 30px;
    .js-header-dropdown__btn {
      padding: 3px 0;
      &.active {
        border-bottom: 1px solid #ff9704;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    color: $white;
  }
}

.l-header_btns {
  li {
    margin-left: 43px;
    &:first-child {
      margin-left: 0;
    }
  }
  .search-icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}

.l-header_mob--menu {
  display: none;
}

.header_white {
  .l-header_top--links {
    a {
      color: $white;
    }
  }
  .l-header_nav {
    a {
      color: $white;
    }
  }
}

header.header_black {
  position: static;
  background: white;
  .burger {
    &.active {
      .burger-btn {
        background-color: transparent;
      }
    }
    .burger-btn {
      background-color: #000000;
      &::after,
      &::before {
        background-color: black;
      }
    }
  }
  .l-header_top--links {
    a {
      color: $black;
    }
  }
  .l-header_nav {
    a {
      color: $black;
    }
  }
}

// header dropdown content css
.js-header-dropdown__content {
  position: absolute;
  width: 100%;
  // height: 543px;
  background-color: white;
  left: 0;
  top: 174px;
  z-index: 11;
  transform: translateY(-200%);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  &.active {
    transform: translateY(0);
  }
}
.l-header-dropdown__container {
  display: none;
  grid-template-columns: 420px 1fr;
  padding: 30px 0;
  position: relative;

  &.active {
    // transform: scaleY(1);
    display: grid;
    border-top: 2px solid #ffe0b4;
  }
  .l-close-btn {
    position: absolute;
    right: 0;
    top: 30px;
  }
  .l-block {
    &:first-child {
      h3 {
        margin-bottom: 26px;
      }
      p {
        margin-bottom: 45px;
      }
      .orange-border-btn {
        color: #000000;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        display: inline-block;
        &:hover {
          background: #ff9704;
          color: white;
        }
      }
    }
  }
}

.l-header-dropdown__nav {
  margin-left: 130px;
  width: fit-content;
  position: relative;
  li {
    margin-bottom: 30px;
    margin-right: unset;
    position: unset !important;
    .submenu {
      margin-left: 50px;
      border: unset;
      max-width: 330px;
      width: max-content;
    }
    a {
      display: flex;
      align-items: center;
      gap: 0 10px;
      padding: 0 !important;
      position: unset !important;

      &::after {
        display: none !important;
      }
      i {
        width: 18px;
        height: 18px;
        transform: rotate(270deg);
      }
    }
    &:last-child {
      margin-bottom: unset;
    }
  }
}
.burger {
  position: relative;
  width: 32px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  z-index: 15;
  cursor: pointer;
  &.active {
    .burger-btn {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
      &::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background-color: #000000;
      }
      &::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: #000000;
      }
    }
  }
}
.burger-btn {
  background-color: white;
  right: 0;
  width: 100%;
  height: 1px;
  top: 50%;
  transition: all 0.5s ease-in-out;
  &::after,
  &::before {
    content: " ";
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    transition: all 0.5s ease-in-out;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

// TABLE CSS
.table-header__container {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  width: 100vw;
  height: unset;
  background-color: white;
  padding-bottom: 55px;
  border-bottom: 2px solid #f7f7f7;
  visibility: hidden;
  transform: translateY(-300%);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.active {
    transform: translateY(0);
    visibility: visible;
  }
  .search-bar {
    padding: 26px 0;
    margin-bottom: 34px;
    width: 100%;
    label {
      position: relative;
      input {
        border: 0;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #f7f7f7;
        box-shadow: unset;
        transition: all 0.4s linear;
        padding-bottom: 18px;
        height: 65px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        &:focus {
          box-shadow: unset;
          border-bottom: 2px solid #ff9704;
        }
      }
      .search-icon {
        position: absolute;
        right: 0;
        top: 10px;
      }
      i.search {
        background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L16.2779 16.2695M18.8947 9.94737C18.8947 12.3204 17.9521 14.5962 16.2741 16.2741C14.5962 17.9521 12.3204 18.8947 9.94737 18.8947C7.57438 18.8947 5.29858 17.9521 3.62062 16.2741C1.94267 14.5962 1 12.3204 1 9.94737C1 7.57438 1.94267 5.29858 3.62062 3.62062C5.29858 1.94267 7.57438 1 9.94737 1C12.3204 1 14.5962 1.94267 16.2741 3.62062C17.9521 5.29858 18.8947 7.57438 18.8947 9.94737V9.94737Z' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
          no-repeat center/contain;
        min-width: 20px;
        height: 20px;
        display: block;
      }
    }
  }
  .table-header__contacts {
    padding-top: 34px;
    li {
      margin-bottom: 20px;
    }
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      color: #5a5a5a;
    }
    i.point {
      background: url("data:image/svg+xml,%3Csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.60001 8.25125L1.60001 8.251C1.60232 6.28885 2.38281 4.40772 3.77027 3.02026C5.15749 1.63304 7.03821 0.85258 9.00001 0.850001C10.9618 0.85258 12.8425 1.63304 14.2297 3.02026C15.6172 4.40772 16.3977 6.28885 16.4 8.251V8.25122C16.4023 9.8518 15.8795 11.4089 14.9117 12.6838L14.8267 12.7958L14.8266 12.7962L14.7969 12.8349C14.7669 12.874 14.7365 12.9135 14.7118 12.9454C14.6968 12.9647 14.6868 12.9774 14.6811 12.9848C14.6779 12.9889 14.676 12.9913 14.6752 12.9923L9 19.6857L3.32208 12.9893L3.32209 12.9893L3.31833 12.9849C3.3202 12.9871 3.32122 12.9883 3.32125 12.9882C3.32134 12.9882 3.31197 12.9766 3.28846 12.9463C3.26397 12.9148 3.23378 12.8756 3.20381 12.8365C3.15769 12.7763 3.11578 12.7212 3.0993 12.6996C3.09395 12.6925 3.09127 12.689 3.09201 12.69L2.41201 13.2L3.08903 12.686C2.12075 11.4106 1.59766 9.85263 1.60001 8.25125ZM12.85 8.25106V8.25C12.85 7.48854 12.6242 6.74418 12.2012 6.11105C11.7781 5.47793 11.1768 4.98446 10.4733 4.69306C9.76984 4.40167 8.99574 4.32542 8.24891 4.47398C7.50208 4.62253 6.81608 4.98921 6.27765 5.52764C5.73921 6.06607 5.37254 6.75208 5.22399 7.4989C5.07543 8.24573 5.15168 9.01984 5.44307 9.72333C5.73447 10.4268 6.22793 11.0281 6.86106 11.4512C7.49419 11.8742 8.23855 12.1 9.00001 12.1V11.25L9.00107 12.1C10.0215 12.0987 10.9997 11.6928 11.7213 10.9713C12.4428 10.2497 12.8487 9.27147 12.85 8.25106Z' stroke='%235A5A5A' stroke-width='1.7'/%3E%3C/svg%3E%0A")
        no-repeat center/contain;
    }
    i.email {
      background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22.1064C10.6333 22.1064 9.34167 21.8438 8.125 21.3184C6.90833 20.7938 5.846 20.0771 4.938 19.1684C4.02933 18.2604 3.31267 17.1981 2.788 15.9814C2.26267 14.7648 2 13.4731 2 12.1064C2 10.7231 2.26267 9.42745 2.788 8.21945C3.31267 7.01078 4.02933 5.95245 4.938 5.04445C5.846 4.13578 6.90833 3.41878 8.125 2.89345C9.34167 2.36878 10.6333 2.10645 12 2.10645C13.3833 2.10645 14.679 2.36878 15.887 2.89345C17.0957 3.41878 18.154 4.13578 19.062 5.04445C19.9707 5.95245 20.6873 7.01078 21.212 8.21945C21.7373 9.42745 22 10.7231 22 12.1064V13.5564C22 14.5398 21.6627 15.3771 20.988 16.0684C20.3127 16.7604 19.4833 17.1064 18.5 17.1064C17.9 17.1064 17.3417 16.9731 16.825 16.7064C16.3083 16.4398 15.8833 16.0898 15.55 15.6564C15.1 16.1064 14.571 16.4608 13.963 16.7194C13.3543 16.9774 12.7 17.1064 12 17.1064C10.6167 17.1064 9.43767 16.6188 8.463 15.6434C7.48767 14.6688 7 13.4898 7 12.1064C7 10.7231 7.48767 9.54378 8.463 8.56845C9.43767 7.59378 10.6167 7.10645 12 7.10645C13.3833 7.10645 14.5627 7.59378 15.538 8.56845C16.5127 9.54378 17 10.7231 17 12.1064V13.5564C17 14.0398 17.15 14.4188 17.45 14.6934C17.75 14.9688 18.1 15.1064 18.5 15.1064C18.9 15.1064 19.25 14.9688 19.55 14.6934C19.85 14.4188 20 14.0398 20 13.5564V12.1064C20 9.92311 19.2123 8.04378 17.637 6.46845C16.0623 4.89378 14.1833 4.10645 12 4.10645C9.81667 4.10645 7.93733 4.89378 6.362 6.46845C4.78733 8.04378 4 9.92311 4 12.1064C4 14.2898 4.78733 16.1688 6.362 17.7434C7.93733 19.3188 9.81667 20.1064 12 20.1064H17V22.1064H12ZM12 15.1064C12.8333 15.1064 13.5417 14.8148 14.125 14.2314C14.7083 13.6481 15 12.9398 15 12.1064C15 11.2731 14.7083 10.5648 14.125 9.98145C13.5417 9.39811 12.8333 9.10645 12 9.10645C11.1667 9.10645 10.4583 9.39811 9.875 9.98145C9.29167 10.5648 9 11.2731 9 12.1064C9 12.9398 9.29167 13.6481 9.875 14.2314C10.4583 14.8148 11.1667 15.1064 12 15.1064Z' fill='%235A5A5A'/%3E%3C/svg%3E%0A")
        no-repeat center/cover;
    }
    i.phone {
      background: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4166 14.0012L16.4169 13.9764C16.4167 13.9847 16.4166 13.9929 16.4166 14.0012H17.4166ZM17.4166 16.3762H16.4166L16.4166 16.3803L17.4166 16.3762ZM15.6908 17.9595L15.5828 18.9537C15.5888 18.9543 15.5948 18.9549 15.6008 18.9555L15.6908 17.9595ZM8.85872 15.5291L9.40284 14.6901L9.39504 14.6851L8.85872 15.5291ZM4.10872 10.7791L4.95276 10.2428L4.948 10.2354L4.10872 10.7791ZM1.6783 3.91536L0.682359 4.00536C0.682829 4.01057 0.68334 4.01577 0.683892 4.02096L1.6783 3.91536ZM3.25372 2.18953V1.18953L3.25278 1.18953L3.25372 2.18953ZM5.62872 2.18953V3.18958L5.63856 3.18948L5.62872 2.18953ZM7.21205 3.5512L8.20351 3.42043L8.20221 3.41124L7.21205 3.5512ZM7.76622 5.77578L6.82932 6.12539L6.83017 6.12764L7.76622 5.77578ZM7.40997 7.4462L8.11709 8.15331L8.12102 8.14934L7.40997 7.4462ZM6.40455 8.45161L5.69744 7.74451C5.37913 8.06282 5.31274 8.55458 5.53526 8.94591L6.40455 8.45161ZM11.1546 13.2016L10.6603 14.0709C11.0516 14.2934 11.5433 14.227 11.8617 13.9087L11.1546 13.2016ZM12.16 12.1962L11.4568 11.4851L11.4529 11.4891L12.16 12.1962ZM13.8304 11.8399L13.4785 12.776L13.4808 12.7768L13.8304 11.8399ZM16.055 12.3941L16.1947 11.4039L16.1857 11.4027L16.055 12.3941ZM16.4166 14.0012V16.3762H18.4166V14.0012H16.4166ZM16.4166 16.3803C16.417 16.4615 16.4003 16.5419 16.3678 16.6163L18.2003 17.4175C18.3444 17.0879 18.4181 16.7319 18.4166 16.3721L16.4166 16.3803ZM16.3678 16.6163C16.3352 16.6907 16.2875 16.7576 16.2277 16.8125L17.5797 18.2862C17.8448 18.043 18.0562 17.7472 18.2003 17.4175L16.3678 16.6163ZM16.2277 16.8125C16.1678 16.8674 16.0971 16.9092 16.0202 16.9352L16.6609 18.8298C17.0017 18.7146 17.3146 18.5294 17.5797 18.2862L16.2277 16.8125ZM16.0202 16.9352C15.9432 16.9612 15.8617 16.9709 15.7808 16.9636L15.6008 18.9555C15.9591 18.9879 16.3202 18.945 16.6609 18.8298L16.0202 16.9352ZM15.7988 16.9654C13.5182 16.7176 11.3275 15.9383 9.40282 14.6901L8.31462 16.3681C10.5018 17.7865 12.9912 18.6721 15.5828 18.9537L15.7988 16.9654ZM9.39504 14.6851C7.60614 13.5484 6.08947 12.0317 4.95273 10.2428L3.2647 11.3154C4.55891 13.3521 6.28569 15.0789 8.3224 16.3731L9.39504 14.6851ZM4.948 10.2354C3.69546 8.30194 2.91598 6.10061 2.67271 3.80976L0.683892 4.02096C0.960337 6.62419 1.84611 9.12569 3.26944 11.3228L4.948 10.2354ZM2.67424 3.82536C2.66695 3.74471 2.67654 3.66342 2.70239 3.58667L0.807005 2.9483C0.692531 3.28818 0.650081 3.64817 0.682359 4.00536L2.67424 3.82536ZM2.70239 3.58667C2.72824 3.50992 2.76978 3.4394 2.82438 3.37959L1.34726 2.03121C1.10547 2.29609 0.92148 2.60841 0.807005 2.9483L2.70239 3.58667ZM2.82438 3.37959C2.87898 3.31977 2.94544 3.27199 3.01951 3.23926L2.21142 1.40979C1.88336 1.5547 1.58906 1.76633 1.34726 2.03121L2.82438 3.37959ZM3.01951 3.23926C3.09359 3.20654 3.17368 3.18961 3.25466 3.18953L3.25278 1.18953C2.89413 1.18987 2.53949 1.26488 2.21142 1.40979L3.01951 3.23926ZM3.25372 3.18953H5.62872V1.18953H3.25372V3.18953ZM5.63856 3.18948C5.78011 3.18809 5.91733 3.23821 6.02466 3.33051L7.32873 1.81414C6.85344 1.40539 6.24573 1.18341 5.61888 1.18958L5.63856 3.18948ZM6.02466 3.33051C6.13198 3.42281 6.20208 3.55099 6.22189 3.69115L8.20221 3.41124C8.11448 2.79053 7.80403 2.22289 7.32873 1.81414L6.02466 3.33051ZM6.22064 3.68195C6.33074 4.51678 6.53493 5.33647 6.82932 6.12538L8.70312 5.42618C8.46146 4.77858 8.29385 4.10572 8.20346 3.42044L6.22064 3.68195ZM6.83017 6.12764C6.86941 6.23204 6.8779 6.34549 6.85464 6.45456L8.81065 6.87172C8.91367 6.38868 8.87606 5.88624 8.70227 5.42392L6.83017 6.12764ZM6.85464 6.45456C6.83138 6.56364 6.77733 6.66376 6.69892 6.74306L8.12102 8.14934C8.4683 7.79815 8.70763 7.35476 8.81065 6.87172L6.85464 6.45456ZM6.70286 6.73909L5.69744 7.74451L7.11166 9.15872L8.11707 8.1533L6.70286 6.73909ZM5.53526 8.94591C6.75121 11.0844 8.52181 12.855 10.6603 14.0709L11.6488 12.3323C9.82334 11.2943 8.31185 9.78282 7.27385 7.95732L5.53526 8.94591ZM11.8617 13.9087L12.8671 12.9033L11.4529 11.4891L10.4474 12.4945L11.8617 13.9087ZM12.8631 12.9072C12.9424 12.8288 13.0425 12.7748 13.1516 12.7515L12.7344 10.7955C12.2514 10.8985 11.808 11.1379 11.4568 11.4851L12.8631 12.9072ZM13.1516 12.7515C13.2607 12.7283 13.3741 12.7368 13.4785 12.776L14.1822 10.9039C13.7199 10.7301 13.2175 10.6925 12.7344 10.7955L13.1516 12.7515ZM13.4808 12.7768C14.2697 13.0712 15.0894 13.2754 15.9242 13.3855L16.1857 11.4027C15.5004 11.3123 14.8276 11.1447 14.18 10.903L13.4808 12.7768ZM15.9153 13.3843C16.057 13.4043 16.1864 13.4757 16.2788 13.5848L17.8048 12.2919C17.3951 11.8085 16.8221 11.4924 16.1947 11.4039L15.9153 13.3843ZM16.2788 13.5848C16.3713 13.694 16.4205 13.8334 16.4169 13.9764L18.4163 14.026C18.432 13.3925 18.2144 12.7754 17.8048 12.2919L16.2788 13.5848Z' fill='%235A5A5A'/%3E%3C/svg%3E%0A")
        no-repeat center/cover;
    }
  }
}

.table-header__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  ul {
    border-bottom: 2px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    max-width: 251px;
    height: fit-content;
    &.not-childs-items {
      margin-top: -136px;
      .call-us {
        grid-column-start: 2;
        a {
          padding: 14px 30px;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: #ffffff;
          display: inline-block;
          background: #ff9704;
          border-radius: 100px;
          text-align: center;
        }
      }
      li {
        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #000000;
        }
      }
    }

    li {
      margin-bottom: 20px;

      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
      }
      &:first-child {
        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #000000;
        }
      }
    }
  }
}
.mob-header__nav {
  display: none;
  .call-us {
    padding: 40px 0 60px 0;
    a {
      display: block;
      width: 100%;
      padding: 14px;
      background: #ff9704;
      border-radius: 100px;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      text-align: center;
    }
  }
}

ul.l-accordion-mob {
  li[aria-expanded="true"] {
    border-bottom: 2px solid #ff9704;
  }
  li {
    border-bottom: 2px solid #f7f7f7;
    padding: 20px 0;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:first-child {
      padding: 0 0 20px 0;
    }
    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
      padding: 0;
    }
  }
  li {
    .submenu {
      margin: 20px 0 0 0 !important;
      li {
        border: 0;
        padding: 0;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: unset;
        }
      }
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        padding: 0;
      }
    }
  }
}
.accordion-menu
  .is-accordion-submenu-parent:not(.has-submenu-toggle)
  > a::after {
  background: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.79096e-05 6.67262C-0.000501917 6.50185 0.0371759 6.33312 0.110345 6.17883C0.183513 6.02454 0.290314 5.88861 0.422896 5.78103L7.27939 0.260033C7.48387 0.091909 7.74035 -3.61041e-07 8.00504 -3.49471e-07C8.26973 -3.37901e-07 8.52621 0.0919091 8.73068 0.260033L15.5872 5.97535C15.8205 6.16937 15.9673 6.44818 15.9952 6.75043C16.023 7.05269 15.9297 7.35363 15.7357 7.58707C15.5418 7.8205 15.263 7.9673 14.9609 7.99516C14.6587 8.02303 14.3578 7.92969 14.1245 7.73567L7.99932 2.62617L1.87419 7.5642C1.70645 7.70398 1.50219 7.79277 1.28559 7.82007C1.06898 7.84736 0.849086 7.81202 0.65193 7.71823C0.454775 7.62443 0.288605 7.47611 0.173085 7.29081C0.0575635 7.1055 -0.00247223 6.89098 7.79096e-05 6.67262Z' fill='%235A5A5A'/%3E%3C/svg%3E%0A")
    no-repeat center/contain;
  border-style: unset;
  width: 16px;
  height: 16px;
  top: 37%;
}

@media screen and (max-width: 1300px) {
  .l-header-dropdown__container {
    grid-template-columns: 350px 1fr;
  }
  .l-header-dropdown__nav {
    margin-left: 30px;
    li {
      .submenu {
        margin-left: 20px;
      }
    }
  }
  .l-header_logo {
    max-width: unset;
    width: auto;
    img {
      width: 180px;
      height: 60px;
    }
  }
  .l-header_nav {
    li {
      margin-right: 20px;
    }
  }
  .l-header_btns {
    li {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 1060px) {
  header.header {
    height: auto;
  }
  .l-header_top {
    display: none;
  }
  .l-header_wrapper {
    margin-top: 15px;
    padding-bottom: 15px;
  }
  .l-header_nav {
    display: none;
  }
  .l-header_btns {
    display: none;
  }
  .l-header_mob--menu {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .table-header__nav {
    display: none;
  }

  .mob-header__nav {
    display: block;
  }
  .table-header__container {
    .search-bar {
      margin-bottom: unset;
    }
  }
}
