@import '_colors.scss';
// banner
section.banner {
  position: relative;
  height: 860px;
}

.l-banner_img {
  padding-top: 140px;
  height: 860px;
  // background: url('https://via.placeholder.com/1440x860');
  background: $gray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.l-banner_content {
  margin-top: 162px;
  max-width: 440px;
}

.l-banner_content--title {
  text-transform: uppercase;
  margin-bottom: 25px;
  span {
    color: $white;
  }
}

.l-banner_content--desc {
  margin-bottom: 46px;
  span {
    color: $white;
  }
}

//news

.l-news_wrapper {
  display: flex;
  align-items: center;
}

.l-news_left {

}

.l-news_content {
  max-width: 440px;
  width: 100%;
}

.l-news_content--title {
  margin-bottom: 25px;
  span {
    text-transform: uppercase;
  }
}

.l-news_content--desc {
  margin-bottom: 46px;
}

.l-news_content--button {
  a {
    color: $black;
  }
}

.l-news_grid--container {
  display: grid;
  gap: 20px;
}

.l-news_card {
  height: 100%;
  grid-column: 2/2;
  position: relative;
  max-width: 320px;
  &:first-child {
    grid-column: 1/1;
    grid-row: 1/3;
    max-width: 420px;
    .l-news_card--img {
      height: 520px;
      img {
        width: 420px;
        height: 100%;
      }
    }
    .news_card--btn {
      width: 48px;
      height: 48px;
      background-size: contain;
      top: auto;
      bottom: 25px;
    }
  }
  .l-news_card--img::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
  } 
  &:hover {
    .l-news_card--img::after {
      opacity: 1;
    }
  }
}

.l-news_card--img {
  img {
    width: 100%;
    height: 100%;
  }
}

.l-news_card--content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.l-news_card--date {
  span {
    color: $gray;
  }
}

.l-news_card--title {

}

.news_card--btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.--svg__news-list-btn {
  background-repeat: no-repeat;
}

//map

section.map {
  .section_title {
    max-width: 440px;
    margin-bottom: 30px;
  }
  img {
    width: 100%;
  }
}

//services
section.services {
  .accordion-content {
    padding: 0;
    border: none;
    background: none;
  }
}

.l-services_list {
  margin-top: 35px;
}

.l-services_title {
  margin: 35px 0;
  span {
    color: $gray;
  }
}

.l-services_list--el:last-child {
  .l-services_list--top {
    border-bottom: 2px solid #FFE0B4;
  }
}

// section.services {
//   .l-services_list--top:hover {
//     background: #D9D9D9;
//     .l-services_list--title {
//       span {
//         color: $black;
//       }
//     }
//     .l-services_list--desc {
//       span {
//         color: $black;
//       }
//       ul {
//         li {
//           color: $black;
//         }
//       }
//     }
//   }
//   .l-services_list--top.active:hover {
//     background: url('../img/services_img.webp');
//     .l-services_list--title {
//       span {
//         color: $white;
//       }
//     }
//     .l-services_list--desc {
//       span {
//         color: $white;
//       }
//       ul {
//         li {
//           color: $white;
//         }
//       }
//     }
//   }
// }

.l-services_list--top {
  border-top: 2px solid #FFE0B4;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: url('../img/white_bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s linear;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s linear;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s linear;
  }
  &:hover {
    background: url('../img/services_img.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
    .l-services_list--title {
      span {
        color: $white;
      }
    }
    .l-services_list--desc {
      span {
        color: $white;
      }
      ul {
        li {
          color: $white;
        }
      }
    }
    .l-services_list--btn {
      .orange-border-btn {
        border-color: $white;
        color: $white;
        background: none;
        i {
          background: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 1.327a1.144 1.144 0 01-.423.892L8.721 7.74a1.143 1.143 0 01-1.452 0L.413 2.025A1.145 1.145 0 011.876.265L8 5.373 14.126.436A1.143 1.143 0 0116 1.327z' fill='%23fff'/%3E%3C/svg%3E")center no-repeat/contain;
        }
      }
    }
  }
}

.l-services_list--top.active {
  background: url('../img/services_img.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .l-services_list--title {
    span {
      color: $white;
    }
  }
  .l-services_list--desc {
    span {
      color: $white;
    }
    ul {
      li {
        color: $white;
      }
    }
  }
  .l-services_list--btn {
    .orange-border-btn {
      border-color: $white;
      color: $white;
      i {
        background: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 1.327a1.144 1.144 0 01-.423.892L8.721 7.74a1.143 1.143 0 01-1.452 0L.413 2.025A1.145 1.145 0 011.876.265L8 5.373 14.126.436A1.143 1.143 0 0116 1.327z' fill='%23fff'/%3E%3C/svg%3E")center no-repeat/contain;
        transform: rotate(180deg);
      }
    }
  }
  &::before {
    opacity: 0;
  }
  &::after {
    opacity: 1;
  }
}

.l-services_list--title {
  max-width: 310px;
  width: 100%;
  z-index: 2;
}

.l-services_list--desc {
  z-index: 2;
  max-width: 530px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  overflow: hidden;
  transition: max-height 0.2s linear;
  span {
    color: $gray;
  }
  ul {
    margin: 22px 0;
  }
  li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
    &::before {
      content: '';
      width: 30px;
      height: 4px;
      position: absolute;
      left: 0;
      top: 50%;
      background-color: $orange;
    }
  }
}

.l-services_list--desc.active {
  max-height: 380px;
  height: 100%;
  opacity: 1;
  transition: max-height 0.2s linear;
}


.l-services_list--btn {
  z-index: 2;
  .orange-border-btn {
    color: $black;
    display: block;
    display: flex;
    align-items: center;
    i {
      width: 16px;
      height: 16px;
      margin-left: 8px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: .3s;
    }
  }
}

.l-services-open {
  cursor: pointer;
}

//licenses

.section_descr {
  max-width: 530px;
  margin-top: 15px;
}

.l-licenses_slider {
  margin-top: 66px;
}

.l-license_card {
  max-width: 200px;
  width: 100%;
  height: 270px;
  img {
    height: 100%;
    width: 100%;
  }
}

//contacts
.l-contacts_content {
  margin-top: 45px;
}

.l-contacts_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.l-contacts_el {
  max-width: 25%;
  width: 100%;
  .fs18-bold {
    text-transform: uppercase;
  }
  .fs-16-medium {
    color: $gray;
  }
  ul {
    margin-top: 7px;
  }
  li {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
  }
}

.l-contacts_map {
  margin-top: 44px;
}

//form
.l-form_wrapper {
  margin-top: 80px;
}

.l-form_fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  input {
    border: 2px solid #FFE0B4;
    padding: 12px 16px;
    height: 52px;
    margin: 0;
    box-shadow: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    &:focus {
      border: 2px solid #FFE0B4;
      box-shadow: 0 0 15px 2px #ffe0b4;
    }
  }
  textarea {
    border: 2px solid #FFE0B4;
    padding: 12px 16px;
    margin: 0;
    height: 232px;
    box-shadow: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    resize: vertical;
    &:focus {
      border: 2px solid #FFE0B4;
      box-shadow: 0 0 15px 2px #ffe0b4;
    }
  }
  label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #5A5A5A;
  }
  label.confident {
    display: flex;
    align-items: center;
    cursor: pointer;
    input[type="checkbox"] {
      width: 24px;
      height: 24px;
      border: 2px solid #FF9704;
      padding: 0;
    }
    input[type="checkbox"]:focus {
      box-shadow: none;
    }
    span {
      margin-left: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $gray;
      a {
        color: $orange;
        text-decoration: underline;
      }
    }
  }
  .l-form_right {
    label.confident {
      display: none;
    }
  }
}

.l-form_left {
  max-width: 420px;
  width: 100%;
  margin-right: 60px;
  label {
    margin-bottom: 12px;
  }
}

.l-form_right {
  width: 100%;
}

.l-form_submit {
  input[type="submit"] {
    background: #FF9704;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    padding: 14px 25px;
    border: none;
    cursor: pointer;
  }
}


@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1060px) {
  .l-banner_img {
    padding-top: 90px;
    height: 860px;
  }
}

@media screen and (max-width: 967px) {

}

@media screen and (max-width: 768px) {
  .l-banner_content {
    margin-top: 228px;
  }
  .l-banner_content--title {
    margin-bottom: 12px;
  }
  .l-banner_content--desc {
    margin-bottom: 65px;
  }

  //news
  .l-news_wrapper {
    flex-direction: column;
    gap: 60px;
  }
  .l-news_left {
    width: 100%;
  }
  .l-news_grid--container {
    grid-template-columns: 1fr 1fr;
  }
  .l-news_card:first-child {
    .l-news_card--img {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }

  //services
  .l-services_list--top {
    display: grid;
    row-gap: 40px;
  }
  .l-services_list--title {
    grid-column: 1/4;
    grid-row: 1/1;
  }
  .l-services_list--desc {
    grid-column: 4/8;
    grid-row: 1/3;
    &.active {
      grid-row: 1/8;
      max-height: 800px;
    }
  }
  .l-services_list--btn {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  //licenses
  section.licences {
    .section_title {
      max-width: 440px;
    }
  }

  //contacts
  .l-contacts_wrapper {
    display: grid;
    row-gap: 25px;
    column-gap: 85px;
  }
  .l-contacts_el {
    max-width: unset;
  }
  .l-contacts_el:first-child {
    grid-column: 1/3 span;
    grid-row: 1/1;
  }
  .l-contacts_el:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/2;
  }
  .l-contacts_el:nth-child(3) {
    grid-column: 4/5;
    grid-row: 2/2;
  }
  .l-contacts_el:last-child {
    grid-column: 5/8;
    grid-row: 2/2;
  }

  //form
  section.form {
    .section_title {
      max-width: 600px;
    }
  }
  .l-form_fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .l-form_left {
    margin-right: 0;
  }

}

@media screen and (max-width: 620px) {
  .l-contacts_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  //globals 
  .test--nav {
    display: none;
  }

  //news
  .l-news_grid--container {
    display: flex;
    flex-direction: column;
  }
  .l-news_card:first-child {
    height: 520px;
    .news_card--btn {
      width: 32px;
      height: 32px;
    }
  }
  .l-news_card--content {
    max-width: 80%;
  }

  //services
  .l-services_list--top {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .l-services_list--btn {
    margin-top: 15px;
  }

  //licenses
  .l-licenses_slider {
    margin-top: 30px;
  }

  //contacts
  .l-contacts_map {
    margin-top: 30px;
    height: 200px;
    img {
      height: 100%;
    }
  }

  //form
  .l-form_wrapper {
    margin-top: 40px;
  }
  .l-form_fields {
    grid-template-columns: 1fr;
    column-gap: 0;
    margin-bottom: 7px;
    label {
      margin-bottom: 20px;
    }
    .l-form_left {
      label.confident {
        display: none;
      }
    }
    .l-form_right {
      label.confident {
        display: flex;
        span {
          line-height: 18px;
        }
      }
    }
  }
}