<!--call me modal-->
<div class="hystmodal" id="modalCallMe" aria-hidden="true">
  <div class="hystmodal__wrap">
      <div class="hystmodal__window" role="dialog" aria-modal="true">
        <div class="modal--callme">
          <div class="callme_wrapper">
              <button data-hystclose class="hystmodal__close">
                <svg class="svg">
                  <use xlink:href="./img/sprite.svg#css--close-modal"></use>
                </svg>
              </button>
              <div class="callme_content">
                <div class="modal--title">
                  <span class="fs40">Заказать звонок</span>
                </div>
                <div class="modal--desc">
                  <span class="fs18-medium">
                    Оставьте ваши контакты и мы с вами свяжемся
                  </span>
                </div>
                <div class="modal--form">
                  <form action="">
                    <label for="">Имя*
                      <input type="text" placeholder="Ваше имя">
                    </label>
                    <label for="">Телефон*
                      <input type="text" placeholder="Ваш номер телефона">
                    </label>
                    <label for="">E-mail*
                      <input type="text" placeholder="Ваш e-mail">
                    </label>
                    <label for="">Комментарий
                      <textarea name="" id="" cols="30" rows="14" placeholder="Вопрос или предложение"></textarea>
                    </label>
                    <label for="agree" class="confident">
                      <input id="agree" type="checkbox" >
                      <span>Я соглашаюсь на <a href="#">обработку моих персональных данных</a></span>
                    </label>
                    <div class="l-form_submit">
                      <input type="submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<!--vacancies modal-->
<div class="hystmodal" id="modalVacancies" aria-hidden="true">
  <div class="hystmodal__wrap">
    <div class="hystmodal__window" role="dialog" aria-modal="true">
        <div class="modal--callme">
          <div class="callme_wrapper">
            <button data-hystclose class="hystmodal__close">
              <svg class="svg">
                <use xlink:href="./img/sprite.svg#css--close-modal"></use>
              </svg>
            </button>
            <div class="callme_content">
              <div class="modal--title">
                <span class="fs40">Отклик на вакансию</span>
              </div>
              <div class="modal--desc">
                <span class="fs18-medium">
                  Оставьте ваши данные и мы с вами свяжемся
                </span>
              </div>
              <div class="modal--form">
                <form action="">
                  <label for="">Фамилия*
                    <input type="text" placeholder="Ваше имя">
                  </label>
                  <label for="">Имя*
                    <input type="text" placeholder="Ваше имя">
                  </label>
                  <label for="">Отчество
                    <input type="text" placeholder="Ваше имя">
                  </label>
                  <label for="">Телефон*
                    <input type="text" placeholder="Ваш номер телефона">
                  </label>
                  <label for="">E-mail*
                    <input type="text" placeholder="Ваш e-mail">
                  </label>
                  <label for="">Выберете вакансию*
                    <select name="" id="">
                      <option selected disabled value="Название вакансии">Название вакансии</option>
                      <option value="Вакансия номер 1">Вакансия номер 1</option>
                      <option value="Вакансия номер 2">Вакансия номер 2</option>
                      <option value="Вакансия номер 3">Вакансия номер 3</option>
                      <option value="Вакансия номер 4">Вакансия номер 4</option>
                    </select>
                  </label>
                  <label for="" style="margin-bottom: 11px;">Загрузите резюме*</label>
                  <label for="file">
                    <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple/>
                    <span>
                      Прикрепить файл
                      <svg class="svg">
                        <use xlink:href="./img/sprite.svg#css--skrepka"></use>
                      </svg>
                    </span>
                  </label>
                  <label for="">Комментарий
                    <textarea name="" id="" cols="30" rows="14" placeholder="Вопрос или предложение"></textarea>
                  </label>
                  <label for="agree" class="confident">
                    <input id="agree" type="checkbox" >
                    <span>Я соглашаюсь на <a href="#">обработку моих персональных данных</a></span>
                  </label>
                  <div class="l-form_submit">
                    <input type="submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- modal success -->
<!-- <div class="modal--callme">
  <div class="callme_wrapper">
    <button data-hystclose class="hystmodal__close">
      <svg class="svg">
        <use xlink:href="./img/sprite.svg#css--close-modal"></use>
      </svg>
    </button>
    <div class="callme_content">
      <div class="callme_success">
        <div class="callme_success--icon">
          <svg class="svg">
            <use xlink:href="./img/sprite.svg#css--success"></use>
          </svg>
        </div>
        <div class="callme_success--text">
          <span class="fs22">
            Заявка отправлена!
          </span>
        </div>
        <div class="callme_success--desc">
          <span class="fs16-medium" style="color: #5A5A5A;">
            Скоро мы с вами свяжемся 
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->