<div class="l-content--right">
  <div class="l-content_right--title">
    <span class="fs18-bold">
      Читать также
    </span>
  </div>
  <div class="l-content_right--nav">
    <ul>
      <li>
        <a class="fs18-regular" href="#">Структура общества</a>
      </li>
      <li>
        <a class="fs18-regular" href="#">Наши специалисты</a>
      </li>
      <li>
        <a class="fs18-regular" href="#">Наши достижения</a>
      </li>
      <li>
        <a class="fs18-regular" href="#">Общественная жизнь</a>
      </li>
      <li>
        <a class="fs18-regular" href="#">Партнеры и клиенты</a>
      </li>
      <li>
        <a class="fs18-regular" href="#">Сертификаты и лицензии</a>
      </li>
    </ul>
  </div>
  <div class="l-content_right--title">
    <span class="fs18-bold">
      новости
    </span>
  </div>
  <div class="l-content_right--news">
    <div class="l-right_news--list">
      <div class="l-right_news--card">
        <a href="#">
          <div class="l-right_news--card-img">
            <img src="https://via.placeholder.com/310x200" alt="">
          </div>
          <div class="l-right_news--card-date">
            <span class="fs16-medium">
              22 ноября
            </span>
          </div>
          <div class="l-right_news--card-title">
            <span class="fs18-bold">
              Lorem ipsum dolor sit amet consectetur
            </span>
          </div>
        </a>
      </div>
      <div class="l-right_news--card">
        <a href="#">
          <div class="l-right_news--card-img">
            <img src="https://via.placeholder.com/310x200" alt="">
          </div>
          <div class="l-right_news--card-date">
            <span class="fs16-medium">
              22 ноября
            </span>
          </div>
          <div class="l-right_news--card-title">
            <span class="fs18-bold">
              Lorem ipsum dolor sit amet consectetur
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>