@import '../base/_colors.scss';

section.presentation {

}

.l-presentation {
  margin-top: 143px;
  padding-bottom: 120px;
}

.l-presentation--wrapper {

}

.swiper-presentation {

}

.presentation-slide {

}

.swiper-thumbs-presentation {
  max-width: 80%;
}