@import '../base/colors.scss';

.l-projects_list--accordion {
  margin-top: 36px;
}

.l-projects_list--top {
  border-top: 2px solid #FFE0B4;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../img/white_bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.5s linear;
  &:hover {
    background: url('../img/services_img.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .l-services_list--title {
      span {
        color: $white;
      }
    }
    .l-services_list--desc {
      span {
        color: $white;
      }
      ul {
        li {
          color: $white;
        }
      }
    }
    .l-services_list--btn {
      .orange-border-btn {
        border-color: $white;
        color: $white;
        i {
          background: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 1.327a1.144 1.144 0 01-.423.892L8.721 7.74a1.143 1.143 0 01-1.452 0L.413 2.025A1.145 1.145 0 011.876.265L8 5.373 14.126.436A1.143 1.143 0 0116 1.327z' fill='%23fff'/%3E%3C/svg%3E")center no-repeat/contain;
        }
      }
    }
  }
}

.l-projects_list--el:last-child {
  .l-projects_list--top {
    border-bottom: 2px solid #FFE0B4;
  }
}


.l-pworks--wrapper {
  padding-bottom: 120px;
}

.l-pworks--items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.l-pworks--card {
  position: relative;
  padding: 70px 30px 70px 37px;
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  gap: 90px;
  .swiper-thumbs-pworks {
    height: 60px;
    .swiper-wrapper {
      justify-content: center;
    }
    .swiper-slide {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.l-pworks_card--left {
  display: flex;
  flex-direction: column;
}

.l-pworks_card--right {
  max-width: 640px;
}

.l-pworks-navigation {
  width: auto;
  height: 50px;
  position: absolute;
  bottom: 70px;
  margin-top: 40px;
  left: 37px;
  right: 0;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.l-pworks_card--year {
  span {
    color: $gray;
  }
}

.l-pworks_card--name {
  margin-top: 40px;
}

.l-pworks_card--desc {
  margin-top: 15px;
}

.l-pworks_card--list {
  margin-top: 20px;
  padding-bottom: 50px;
  ul {
    display: flex;
    flex-direction: column;
  }
  li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
    &::before {
      content: '';
      width: 30px;
      height: 4px;
      position: absolute;
      left: 0;
      top: 50%;
      background-color: $orange;
    }
  }
}

@media screen and (max-width: 1300px) {
  .l-projects_list--top {
    column-gap: 20px;
    .l-services_list--title {
      max-width: 240px;
    }
  }
  .l-services_list--btn {
    a {
      white-space: nowrap;
    }
  }

  .l-pworks--card {
    gap: 30px;
  }
  .l-pworks_card--right {
    max-width: 560px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1240px) {
  .l-pworks_card--right {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .l-pworks--card {
    flex-direction: column;
  }
  .l-pworks_card--right {
    max-width: unset;
    padding-bottom: 80px;
  }
  .l-pworks-navigation {
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    justify-content: center;
  }
  .l-pworks_card--list {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .l-projects_list--top {
    display: grid;
    row-gap: 40px;
  }
  .l-pworks--card {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 620px) {
  .l-projects_list--top {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .l-pworks--card {
    padding: 30px 20px 40px 20px;
  }
}