<div class="--svg__footer-frames"></div>
<footer class="footer">
  <div class="l-container">
    <div class="l-footer_top">
      <div class="l-footer_logo">
        <a href="#">
          <img src="/img/sprite.svg#css--logo-bl">
        </a>
      </div>
      <div class="l-footer_nav">
        <nav>
          <ul>
            <li class="parent"><a href="#">об обществе</a></li>
            <li><a href="#">Миссия и стратегия</a></li>
            <li><a href="#">Структура общества</a></li>
            <li><a href="#">Наши специалисты</a></li>
            <li><a href="#">Наши достижения</a></li>
            <li><a href="#">Общественная жизнь</a></li>
            <li><a href="#">Партнеры и клиенты</a></li>
            <li><a href="#">Лицензии и сертификаты</a></li>
          </ul>
          <ul>
            <li class="parent"><a href="#">карьера</a></li>
            <li><a href="#">Корпоративная культура</a></li>
            <li><a href="#">Молодым специалистам</a></li>
            <li><a href="#">Социальные программы </a></li>
            <li><a href="#">Вакансии</a></li>
          </ul>
          <ul>
            <li class="parent"><a href="#">проекты</a></li>
            <li><a href="#">Буровые работы</a></li>
            <li><a href="#">Инженерные изыскания</a></li>
          </ul>
        </nav>
      </div>
      <div class="l-footer_right">
        <nav>
          <ul>
            <li class="parent"><a href="#">услуги</a></li>
            <li class="parent"><a href="#">новости</a></li>
            <li class="parent"><a href="#">презентация</a></li>
            <li class="parent"><a href="#">контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="l-footer_under">
      <div class="l-footer_copyright">
        <span>
          ©2016 — 2022. © Юридическая служба группы алроса. ALL RIGHTS RESERVED
        </span>
      </div>
      <div class="l-footer_copyright">
        <a href="#">Политика конфиденциальности</a>
      </div>
      <div class="l-footer_copyright">
        <a href="#">Политика cookies</a>
      </div>
      <div class="l-footer_copyright">
        <span>Сайт разработан: <a class="platforma" href="#" title="developed with ❤️">Platforma</a></span>
      </div>
    </div>
  </div>
</footer>
