<div class="--svg__footer-frames"></div>
<div class="test--nav" onclick="openTestNav();">
  <nav class="test--trigger">
    <ul>
      <li><a href="index.html">index</a></li>
      <li><a href="about.html">about</a></li>
      <li><a href="about-structure.html">about structure</a></li>
      <li><a href="about-specialists.html">about specialists</a></li>
      <li><a href="about-social_life.html">about social_life</a></li>
      <li><a href="about-partners.html">about partners</a></li>
      <li><a href="about-missions.html">about missions</a></li>
      <li><a href="about-licenses.html">about licenses</a></li>
      <li><a href="about-achievements.html">about achievements</a></li>
      <li><a href="careers.html">careers</a></li>
      <li><a href="careers-vacancies.html">careers vacancies</a></li>
      <li><a href="careers-specialists.html">careers specialists</a></li>
      <li><a href="careers-socials_programms.html">careers socials_programms</a></li>
      <li><a href="careers-culture.html">careers culture</a></li>
      <li><a href="contacts.html">contacts</a></li>
      <li><a href="news.html">news</a></li>
      <li><a href="news-detail.html">news detail</a></li>
      <li><a href="presentation.html">presentation</a></li>
      <li><a href="projects.html">projects</a></li>
      <li><a href="projects-works.html">projects works</a></li>
      <li><a href="services.html">services</a></li>
    </ul>
  </nav>
</div>
<footer class="footer">
  <div class="l-container">
    <div class="l-footer_top">
      <div class="l-footer_logo">
        <a href="#">
          <img src="/img/sprite.svg#css--logo-bl">
        </a>
      </div>
      <div class="l-footer_nav">
        <nav>
          <ul>
            <li class="parent"><a href="#">об обществе</a></li>
            <li><a href="#">Миссия и стратегия</a></li>
            <li><a href="#">Структура общества</a></li>
            <li><a href="#">Наши специалисты</a></li>
            <li><a href="#">Наши достижения</a></li>
            <li><a href="#">Общественная жизнь</a></li>
            <li><a href="#">Партнеры и клиенты</a></li>
            <li><a href="#">Лицензии и сертификаты</a></li>
          </ul>
          <ul>
            <li class="parent"><a href="#">карьера</a></li>
            <li><a href="#">Корпоративная культура</a></li>
            <li><a href="#">Молодым специалистам</a></li>
            <li><a href="#">Социальные программы </a></li>
            <li><a href="#">Вакансии</a></li>
          </ul>
          <ul>
            <li class="parent"><a href="#">проекты</a></li>
            <li><a href="#">Буровые работы</a></li>
            <li><a href="#">Инженерные изыскания</a></li>
          </ul>
        </nav>
      </div>
      <div class="l-footer_right">
        <nav>
          <ul>
            <li class="parent"><a href="#">услуги</a></li>
            <li class="parent"><a href="#">новости</a></li>
            <li class="parent"><a href="#">презентация</a></li>
            <li class="parent"><a href="#">контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="l-footer_under">
      <div class="l-footer_copyright">
        <span>
          ©2016 — 2022. © Юридическая служба группы алроса. ALL RIGHTS RESERVED
        </span>
      </div>
      <div class="l-footer_copyright">
        <a href="#">Политика конфиденциальности</a>
      </div>
      <div class="l-footer_copyright">
        <a href="#">Политика cookies</a>
      </div>
      <div class="l-footer_copyright">
        <span>Сайт разработан: <a class="platforma" href="#" title="developed with ❤️">Platforma</a></span>
      </div>
    </div>
  </div>
</footer>
@@include('../bem-blocks/_modals.html')