<header class="header">
  <div class="l-container">
    <div class="l-header_wrapper flex --just-space --align-center">
      <div class="l-header_logo">
        <a href="#">
          <img src="/img/sprite.svg#css--logo-wh">
        </a>
      </div>
      <div class="l-header_nav">
        <nav>
          <ul class="flex">
            <li><a class="fs18-medium" href="#">Об обществе</a></li>
            <li><a class="fs18-medium" href="#">Проекты</a></li>
            <li><a class="fs18-medium" href="#">Услуги</a></li>
            <li><a class="fs18-medium" href="#">Новости</a></li>
            <li><a class="fs18-medium" href="#">Карьера</a></li>
            <li><a class="fs18-medium" href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="l-header_btns">
        <ul class="flex --align-center">
          <li><a href="#"><img class="search-icon" src="/img/sprite.svg#css--search"></a></li>
          <li><a class="fs16-medium orange-btn" href="#">Заказать звонок</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
