<header class="header header_black">
  <div class="l-container">
    <div class="l-header_top">
      <div class="l-header_top--links">
        <ul>
          <li>
            <a href="#">
              <svg class="svg">
                <use xlink:href="./img/sprite.svg#css--email-icon-bl"></use>
              </svg>
              asb@alrosa.ru
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="svg">
                <use xlink:href="./img/sprite.svg#css--tel-icon-bl"></use>
              </svg>
              +7 (914) 259-32-85
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="svg">
                <use xlink:href="./img/sprite.svg#css--geo-icon-bl"></use>
              </svg>
              г. Мирный, 678174 ул. Ленина, д. 44Б
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="l-header_wrapper flex --just-space --align-center">
      <div class="l-header_logo">
        <a href="#">
          <img src="/img/sprite.svg#css--logo-bl">
        </a>
      </div>
      <div class="l-header_nav">
        <nav>
          <ul class="flex">
            <li><a class="fs18-medium" href="#">Об обществе</a></li>
            <li><a class="fs18-medium" href="#">Проекты</a></li>
            <li><a class="fs18-medium" href="#">Услуги</a></li>
            <li><a class="fs18-medium" href="#">Новости</a></li>
            <li><a class="fs18-medium" href="#">Карьера</a></li>
            <li><a class="fs18-medium" href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="l-header_btns">
        <ul class="flex --align-center">
          <li><a href="#"><img class="search-icon" src="/img/sprite.svg#css--search-bl"></a></li>
          <li><a class="fs16-medium orange-btn" data-hystmodal="#modalCallMe" href="#">Заказать звонок</a></li>
        </ul>
      </div>
      <div class="l-header_mob--menu">
        <a href="#">i am menu!</a>
      </div>
    </div>
  </div>
</header>


